<div class="container">
    <h2 class="m-5">Current categories:</h2>
    <ul *ngFor="let category of categories$ | async | paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalItemsCount }; let i = index">
        <li>
            <div class="input-group">
                <div class="row col-sm-2">
                    <div class="d-block text-break">{{category.name}}</div>
                </div>
                <div class="col-sm-1 ml-3">
                    <button type='button' (click)="removeCategory(category.id)" class="btn btn-sm btn-danger">
                        <i class="fa fa-trash fa-2x"></i>
                    </button>
                </div>
                <div class="col-sm-3">
                    <input class="form-control" name="categoryToEdit" [(ngModel)]="categoryToEdit[i]">
                </div>
                <div class="col-sm-1 ml-3">
                    <button type='button' (click)="editCategory(category.id, categoryToEdit[i])"
                        class="btn btn-sm btn-info btn-square">
                        <i class="fa fa-pencil fa-2x"></i>
                    </button>
                </div>
            </div>
        </li>
    </ul>
    <div class="d-flex mt-5" *ngIf="(categories$| async)?.length != 0">
        <pagination-controls (pageChange)="onTableDataChange($event)"></pagination-controls>
    </div>
    <input name="categoryNameToAdd" [(ngModel)]="categoryNameToAdd">
    <button (click)="addCategory(categoryNameToAdd)" type='submit' class="btn btn-sm btn-primary m-3">
        <i class="fa fa-plus fa-2x">Add category</i>
    </button>
</div>