<div *ngIf="deal">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <h2 class="mt-3">Deal Description:</h2>
        <h2>{{deal.description}}</h2>
        <h3 class="mt-3">Include the products:</h3>
        <app-product-list  [products]="products"></app-product-list>

        <h4 class="mt-5">Created on: {{deal.created | date:'medium'}}</h4>
        <h4>Last Modified on: {{deal.lastModified | date:'medium'}}</h4>
        <h5>Total Price: {{deal.totalPrice}}</h5>
        <h5>Status: {{deal.status}}</h5>
    </div>
</div>