<div *ngIf="member" class="row">
    <h1 class="mt-3">{{member.knownAs}}</h1>
    <div class="col-12 col-sm-4 mt-5">
        <div class="card">
            <img [src]="member.appUserPhoto.url" alt="{{member.knownAs}}" class="card-img-top img-thumbnail">

            <div class="card-body">
                <div>
                    <strong>Member since:</strong>
                    <p>{{member.created | date:'medium'}}</p>
                </div>

            </div>
        </div>
    </div>
    <div class="col-8 mt-5">
        <tabset class="member-tabset">
            <tab heading="Basic Info">
                <h3 class="mt-4">Age: {{member.age}}</h3>
                <h3 class="mt-4">Location: {{member.country}}, {{member.city}}</h3>
                <h3 class="mt-4">Authorization: {{member.authorization}}</h3>
            </tab>
            <tab heading="Contact">
                <h3 class="mt-4">Phone number: {{member.phone}}</h3>
                <h3 class="mt-4">E-mail: {{member.email}}</h3>
            </tab>
        </tabset>
    </div>
</div>