<div *ngIf="deal">
  <div class="mt-5">
    <form [formGroup]="dealForm" (ngSubmit)="edit()" autocomplete="off">
      <div class="row mb-3">
        <div class="col-lg-6">
          <label for="description">Describe your deal:</label>
          <input type="text" class="form-control" placeholder="Description" formControlName="description">
        </div>
      </div>
      <table class="table" formArrayName="products">
        <tbody>
          <ng-container *ngFor="let item of getProducts().controls;let i=index">
            <tr>
              <td colspan="5">
                <label for="product">Product number {{i+1}} details:</label>
              </td>
            </tr>
            <tr [formGroupName]="i">
              <td class="col-lg-3">
                <input type="text" class="form-control" required placeholder="Name" formControlName="Name">
              </td>
              <td class="col-lg-3">
                <select class="form-select" required formControlName="Category" value="Others">
                  <option *ngFor="let category of categories" [value]="category.name">
                    {{category.name}}
                  </option>
                </select>
              </td>
              <td class="col-lg-2">
                <input type="number" min="0" class="form-control" required placeholder="Price" formControlName="Price">
              </td>
              <td class="col-lg-2">
                <button type='button' (click)="removeItem(i)" class="btn btn-sm btn-danger">
                  <i class="fa fa-trash fa-2x"></i>
                </button>
              </td>
              <td class="col-lg-2">
                <app-photo-change [(product)]="products[i]"></app-photo-change>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>

      <button type='button' class="btn btn-sm btn-success" (click)="addNewRow()">
        <i class="fa fa-plus-square fa-2x"></i>
        <span class="btn-text"> Add Product</span>
      </button>

      <div class="example-button-row mt-5">
        <button type="submit" class="btn btn-primary">Update Deal</button>
        <button type="button" (click)="clear()" class="btn btn-secondary"
          [disabled]="getProducts().length<1 && !getDescription()">
          <i class="fa fa-times fa-2x"></i> Clear
        </button>
      </div>
    </form>
  </div>
</div>