<div class="row justify-content-center">
    <div class="col-md-6 my-auto py-3">
        <label>Category</label>
        <select (change)="onSelectCategory($event)" class="form-select">
            <option value="Any">
                Any
            </option>>
            <option *ngFor="let category of categories$ | async" [value]="category.name">
                {{category.name}}
            </option>
        </select>
        <div class="mt-3 row row-cols-md-2 row-cols-1 align-items-end justify-content-between">
            <span class="col-md-6">
                <label for="minPrice" class="mt-3">Minimum price</label>
                <input type="number" class="ml-2 ml-md-0 w-100" (change)="changePrice('min', $event)" id="minPrice"
                    name="minPrice" min="0" #minPriceInput />
            </span>
            <span class="col-md-6">
                <label for="maxPrice" class="mt-3">Maximum price</label>
                <input type="number" class="ml-2 ml-md-0 w-100" (change)="changePrice('max', $event)" id="minPrice"
                    name="minPrice" min="0" #maxPriceInput />
            </span>
        </div>
        <span class="d-flex flex-wrap mt-3">
            <div class="p-2 p-md-0 mr-md-2">
                <button type='button' (click)="onPriceFilter()" class="btn btn-sm btn-info"><span
                        class="btn-text">Filter by price</span></button>
            </div>
            <div class="p-2 p-md-0">
                <button type='button' (click)="onInitPriceFilter()" class="btn btn-sm btn-success"><span
                        class="btn-text">Clean price filter</span></button>
            </div>
        </span>
    </div>
</div>